.scroll-text ul {
    animation: scrollText 12s ease-in-out infinite;
    animation-fill-mode: forwards;
}

@keyframes scrollText {
    0%, 15% {
        transform: translateY(0);
    }
    16%, 31% {
        transform: translateY(-120px);
    }
    32%, 47% {
        transform: translateY(-240px);
    }
    48%, 63% {
        transform: translateY(-360px);
    }
    64%, 79% {
        transform: translateY(-480px);
    }
    80%, 99% {
        transform: translateY(-600px);
    }
    100%, 0% {
        transform: translateY(0);
    }
}